/* map.css */
.builder-b9e778adf0f8470a959b48f99db54b52:hover {
    transform: translateY(-4px);
}

.mapboxgl-popup {
    max-width: 200px;
    font-family: 'Poppins', sans-serif;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.mapboxgl-popup-content {
    text-align: center;
    padding: 10px;
    border-radius: 12px;
    background: white;
}

.mapboxgl-popup-content a {
    color: #69a84a;
    font-weight: bold;
    text-decoration: none;
}

.mapboxgl-popup-content a:hover {
    text-decoration: underline;
}

